USE [master]
GO
/****** Object:  Database [POS_DB]    Script Date: 10-10-2022 04:06:00 PM ******/
CREATE DATABASE [POS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\POS_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'POS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\POS_DB_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS_DB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [nchar](10) NOT NULL,
	[CustomerName] [nchar](100) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[City] [varchar](250) NOT NULL,
	[ContactNo] [nchar](15) NOT NULL,
	[ContactNo1] [nchar](15) NULL,
	[Email] [varchar](250) NULL,
	[Notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice_Info]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice_Info](
	[InvoiceNo] [nchar](15) NOT NULL,
	[InvoiceDate] [nchar](30) NOT NULL,
	[CustomerID] [nchar](10) NOT NULL,
	[SubTotal] [float] NOT NULL,
	[VATPer] [float] NOT NULL,
	[VATAmount] [float] NOT NULL,
	[DiscountPer] [float] NOT NULL,
	[DiscountAmount] [float] NOT NULL,
	[GrandTotal] [float] NOT NULL,
	[TotalPayment] [float] NOT NULL,
	[PaymentDue] [float] NOT NULL,
	[PaymentType] [nchar](100) NOT NULL,
	[Status] [nchar](100) NOT NULL,
	[Remarks] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [nchar](10) NOT NULL,
	[ProductName] [varchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SubCategoryID] [int] NOT NULL,
	[Features] [varchar](max) NULL,
	[Price] [float] NOT NULL,
	[Image] [image] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductSold]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductSold](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nchar](15) NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[ProductName] [varchar](250) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalAmount] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration](
	[UserName] [nchar](30) NOT NULL,
	[UserType] [nchar](20) NOT NULL,
	[Password] [nchar](30) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[ContactNo] [nchar](15) NOT NULL,
	[Email] [varchar](250) NULL,
	[JoiningDate] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [nchar](10) NOT NULL,
	[StockDate] [nchar](30) NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[SupplierID] [nchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ExpiryDate] [nchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [varchar](250) NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [nchar](10) NOT NULL,
	[SupplierName] [varchar](250) NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[City] [varchar](250) NOT NULL,
	[ContactNo] [nchar](15) NOT NULL,
	[ContactNo1] [nchar](15) NULL,
	[Email] [varchar](250) NULL,
	[Notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Temp_Stock]    Script Date: 10-10-2022 04:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (1, N'Electronics')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (2, N'Wood')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (3, N'Liquid')
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [Address], [City], [ContactNo], [ContactNo1], [Email], [Notes]) VALUES (N'C-766598  ', N'Sachin Joshi                                                                                        ', N'Rose House, B.NO.01, Alibag', N'Alibag', N'8456325639     ', N'7456325896     ', N'sachin@gmail.com', N'')
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [Address], [City], [ContactNo], [ContactNo1], [Email], [Notes]) VALUES (N'C-942114  ', N'Sanju Samsung                                                                                       ', N'Alibag', N'Alibag', N'8456328596     ', N'               ', N'sanju@gmail.com', N'')
INSERT [dbo].[Invoice_Info] ([InvoiceNo], [InvoiceDate], [CustomerID], [SubTotal], [VATPer], [VATAmount], [DiscountPer], [DiscountAmount], [GrandTotal], [TotalPayment], [PaymentDue], [PaymentType], [Status], [Remarks]) VALUES (N'OD-53735894    ', N'05/Apr/2022                   ', N'C-942114  ', 750, 12, 90, 0, 0, 840, 500, 340, N'Online                                                                                              ', N'Confirmed                                                                                           ', N'')
INSERT [dbo].[Invoice_Info] ([InvoiceNo], [InvoiceDate], [CustomerID], [SubTotal], [VATPer], [VATAmount], [DiscountPer], [DiscountAmount], [GrandTotal], [TotalPayment], [PaymentDue], [PaymentType], [Status], [Remarks]) VALUES (N'OD-54375199    ', N'06/Apr/2022                   ', N'C-766598  ', 168690, 18, 30364, 2, 3981, 195073, 195073, 0, N'Online                                                                                              ', N'Confirmed                                                                                           ', N'')
SET IDENTITY_INSERT [dbo].[ProductSold] ON 

INSERT [dbo].[ProductSold] ([Id], [InvoiceNo], [ProductID], [ProductName], [Price], [Quantity], [TotalAmount]) VALUES (1, N'OD-53735894    ', N'P-256445  ', N'Coca Cola', 50, 15, 750)
INSERT [dbo].[ProductSold] ([Id], [InvoiceNo], [ProductID], [ProductName], [Price], [Quantity], [TotalAmount]) VALUES (2, N'OD-54375199    ', N'P-819613  ', N'HP AIO', 56230, 3, 168690)
SET IDENTITY_INSERT [dbo].[ProductSold] OFF
INSERT [dbo].[Registration] ([UserName], [UserType], [Password], [Name], [ContactNo], [Email], [JoiningDate]) VALUES (N'Admin                         ', N'Admin               ', N'admin                         ', N'admin', N'123            ', N'admin@wms.com', N'4/5/2022 10:51:26 PM                              ')
INSERT [dbo].[Registration] ([UserName], [UserType], [Password], [Name], [ContactNo], [Email], [JoiningDate]) VALUES (N'manager                       ', N'Warehouse Manager   ', N'manager                       ', N'manager', N'963            ', N'manager@wms.com', N'4/5/2022 10:51:26 PM                              ')
INSERT [dbo].[Registration] ([UserName], [UserType], [Password], [Name], [ContactNo], [Email], [JoiningDate]) VALUES (N'sales                         ', N'Sales Person        ', N'sales                         ', N'sales', N'456            ', N'sale@wms.com', N'4/5/2022 10:51:26 PM                              ')
INSERT [dbo].[Stock] ([StockID], [StockDate], [ProductID], [SupplierID], [Quantity], [ExpiryDate]) VALUES (N'ST-359993 ', N'05/Apr/2022                   ', N'P-181393  ', N'S-664472  ', 60, N'05/Apr/2025                   ')
INSERT [dbo].[Stock] ([StockID], [StockDate], [ProductID], [SupplierID], [Quantity], [ExpiryDate]) VALUES (N'ST-431542 ', N'05/Apr/2022                   ', N'P-819613  ', N'S-664472  ', 63, N'05/Apr/2050                   ')
INSERT [dbo].[Stock] ([StockID], [StockDate], [ProductID], [SupplierID], [Quantity], [ExpiryDate]) VALUES (N'ST-811373 ', N'05/Apr/2022                   ', N'P-256445  ', N'S-651179  ', 50, N'15/Jun/2019                   ')
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([ID], [SubCategoryName], [CategoryID]) VALUES (1, N'Computer', 1)
INSERT [dbo].[SubCategory] ([ID], [SubCategoryName], [CategoryID]) VALUES (2, N'Mobile', 1)
INSERT [dbo].[SubCategory] ([ID], [SubCategoryName], [CategoryID]) VALUES (3, N'Door', 2)
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
INSERT [dbo].[Supplier] ([SupplierId], [SupplierName], [Address], [City], [ContactNo], [ContactNo1], [Email], [Notes]) VALUES (N'S-136934  ', N'Yash Enterprises', N'Panvel', N'Panvel', N'7456321563     ', N'7856964521     ', N'yash@ssb.com', N'')
INSERT [dbo].[Supplier] ([SupplierId], [SupplierName], [Address], [City], [ContactNo], [ContactNo1], [Email], [Notes]) VALUES (N'S-314862  ', N'Samel Hardware', N'Revdanda', N'Alibag', N'7465896321     ', N'               ', N'samel@wms.com', N'')
INSERT [dbo].[Supplier] ([SupplierId], [SupplierName], [Address], [City], [ContactNo], [ContactNo1], [Email], [Notes]) VALUES (N'S-651179  ', N'YS Enterprises', N'Mumbai', N'Mumbai', N'8156365463     ', N'9638855447     ', N'YSE@gmail.com', N'Main Suppliers')
SET IDENTITY_INSERT [dbo].[Temp_Stock] ON 

INSERT [dbo].[Temp_Stock] ([ID], [ProductID], [Quantity]) VALUES (1, N'P-256445  ', 35)
INSERT [dbo].[Temp_Stock] ([ID], [ProductID], [Quantity]) VALUES (2, N'P-197292  ', 25)
INSERT [dbo].[Temp_Stock] ([ID], [ProductID], [Quantity]) VALUES (3, N'P-819613  ', 60)
SET IDENTITY_INSERT [dbo].[Temp_Stock] OFF
ALTER TABLE [dbo].[Invoice_Info]  WITH CHECK ADD  CONSTRAINT [FK_Table_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Invoice_Info] CHECK CONSTRAINT [FK_Table_Customer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ToCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ToCategory]
GO
ALTER TABLE [dbo].[ProductSold]  WITH CHECK ADD  CONSTRAINT [FK_ProductSold_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductSold] CHECK CONSTRAINT [FK_ProductSold_Product]
GO
ALTER TABLE [dbo].[ProductSold]  WITH CHECK ADD  CONSTRAINT [FK_Table_InvoiceInfo] FOREIGN KEY([InvoiceNo])
REFERENCES [dbo].[Invoice_Info] ([InvoiceNo])
GO
ALTER TABLE [dbo].[ProductSold] CHECK CONSTRAINT [FK_Table_InvoiceInfo]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Product]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_ToCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_ToCategory]
GO
USE [master]
GO
